#nav_top.top-nav{
	background-color: var(--colorDarkMuted);
}

#nav_top.top-nav .top-menu a{
	color: var(--colorLight);
}

#nav_top.top-nav .nav-btn{
	background-color: var(--colorDarkMuted) !important;
}

#nav_top.top-nav .nav-btn#nav_close span:before,
#nav_top.top-nav .nav-btn#nav_close span:after{
	background-color: var(--colorLight);
}
